.parallax {
  /* Set the height of the parallax container */
  height: 100vh;
  /* Make the background image cover the entire container */
  background-image: url('https://img.freepik.com/foto-gratis/concepto-collage-control-calidad-estandar_23-2149595839.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Agrega esto en tu archivo CSS */
.navbar-menu {
  transition: max-height 0.3s ease-out;
}
